<!DOCTYPE html>
<!--<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>-->
<body ng-app="modEscolaridadEdicion" ng-controller="EscolaridadEdicionCtrl">
<div class="modal fade" role="dialog" id="dlgEscolaridadEdicion" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" ng-show="escolaridad.id">Editar Escolaridad</h4>
                <h4 class="modal-title" ng-hide="escolaridad.id">Nueva Escolaridad</h4>
            </div>
            <form id="frmEscolaridad" name="frmEscolaridad" novalidate role="form"  ng-validate="validationOptions">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtCodigo"><strong>Código:*</strong></label>
                                <input type="text" class="form-control" id="txtCodigo" name="txtCodigo" ng-disabled="escolaridad.id" maxlength="15" required="true"
                                       ng-model="escolaridad.codigo" placeholder="Código"/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="txtNombre"><strong>Nombre:*</strong></label>
                                <input type="text" class="form-control" id="txtNombre" name="txtNombre" maxlength="150" required="true"
                                       ng-model="escolaridad.nombre" placeholder="Nombre"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtDescripcion"><strong>Descripción:*</strong></label>
                                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" maxlength="150" required="Campo requerido"
                                       ng-model="escolaridad.descripcion" placeholder="Descripción"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="txtTitulo">Requiere Titulo: </label>
                                    <input type="checkbox"  id="txtTitulo" name="txtTitulo" class="checkbox-danger" ng-model="escolaridad.requiereTitulo">
                                    <span ng-show="escolaridad.requiereTitulo">Si</span>
                                    <span ng-hide="escolaridad.requiereTitulo"><strong>No</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="submitForm()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>